{% extends "home.html" %} {% block content %}
<div class="container" style="margin-top: 80px">
  <div class="row">
    <div class="col-12">
      <h2>About Our News Aggregator</h2>
      <p>
        Our News Aggregator brings together the latest and most compelling news
        from across the web. Catering to a wide range of interests, our website
        provides up-to-date information on the latest happenings around the
        world. Whether you're interested in the latest in technology, sports,
        entertainment, or politics, our platform has you covered.
      </p>
      <p>
        Using sophisticated web scraping techniques, we curate content from
        reputable sources to ensure that our readers have access to reliable and
        insightful news articles. Our easy-to-navigate interface and
        category-based filtering allow users to easily find news stories that
        matter most to them.
      </p>
      <p>
        We believe in the power of information and strive to make it accessible
        to everyone. Our website is constantly updated to bring you the most
        recent news articles, making us a reliable source for staying informed
        on current events.
      </p>
    </div>
  </div>
</div>
{% endblock %}
