{% extends "home.html" %} {% block content %}
<div class="container" style="margin-top: 80px">
  <div class="row">
    <div class="col-12 mb-4">
      <h2>Meet Our Developers</h2>
    </div>
    <!-- Sample card for a developer -->
    <div class="col-sm-6 col-md-4">
      <div>
        <div>
          <h5 class="card-title">Shivam Pandey</h5>
          <h6 class="card-subtitle mb-2 text-muted">Full stack Developer</h6>
          <h6 class="card-title">
            I have developed this website with my Knowldege,i am new to django,
            looking forwrd to learn more and add more complex features and
            functionality, I am specialized in crafting intuitive user
            interfaces . "I believe in creating experiences that users love to
            interact with.."
          </h6>
          <h4>Email: shivam@gmail.com</h4>
          <h4>contact:+91 84XXX XXX39</h4>
        </div>
      </div>
    </div>
    <!-- Repeat the above block for each developer, adjusting the content as necessary -->
  </div>
</div>
{% endblock %}
